<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <meta charset="UTF-8">
</head>
<body>
    <nav>
        <center>
            <a href="/">Home</a>
            <a href="/list">Reader list</a>
        </center>
    </nav>
    <form action="/add" method="post">
        Name:
        <input type="text" name="Name" required><br>
        ReaderType:
        <input type="text" name="UserType"  /><br>
        VIP:
        <input type="checkbox" name="VIP" value="1"  style="width:30px ; height: 30px" />
        <br><br>

        <input type="submit" />
    </form>

</body>
</html>
