<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
        <nav>
            <center>
            <a href="/">Home</a>
            <a href="/list">Reader list</a>    
            </center>
        </nav>
        <h2> Welcome to the Green Fox Library!</h2>
        <img src="book.jpg" alt="book picture" width="300" height="300" />
        <p>
            The Green Fox library is a wonderful place to learn, relax, drink coffee
            and to have social life. You can borrow any book you need for programming. 
        </p>
</body>
</html>

